// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import url('https://fonts.googleapis.com/css2?family=Poppins');
//@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**********************************************
 * GENERAL
 *********************************************/

body{
	font-family: 'Montserrat', sans-serif !important;
}

label{
	font-weight: 400 !important;
	font-size: 12px !important;
}

input, select, select option{
	font-size: 12px !important;
}

/**********************************************
 * NAV
 *********************************************/
.enlaces-nav ul li{
	font-size: 12px !important;
}
/**********************************************
 * LOGO
 *********************************************/

 /*
 * Contenedor logo
 */
 .login{
	width: 280px;
	height: 280px;
	/* Center vertically and horizontally */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}