// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**********************************************
 * GENERAL
 *********************************************/
body{
    font-family: 'Poppins', sans-serif;
}
/**********************************************
 * LOGO
 *********************************************/

 /*
 * Contenedor logo
 */
 .login{
	width: 280px;
	height: 280px;
	/* Center vertically and horizontally */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*
 * Fondo imagen logo
 */

label{
    font-weight: 400 !important;
}

input {
    font-size: 14px !important;
}
