// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**********************************************
 * GENERAL
 *********************************************/
body{
	font-family: 'Poppins', sans-serif;
}
label{
	font-weight: 400 !important;
	font-size: 12px !important;
}

input {
    font-size: 14px !important;
}

/**********************************************
 * CONTENEDOR CONTENIDO
 *********************************************/
.contenedor{
	margin-left: 100px;
	margin-right: 30px;
}

@media (max-width: 991px) {
	.contenedor {
		margin-left: 0px;
		margin-right: 0px;
	}
}
/**********************************************
 * LOGO
 *********************************************/

 /*
 * Contenedor logo
 */
 .login{
	width: 280px;
	height: 280px;
	/* Center vertically and horizontally */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}